* {
    color: black;
}

.nav-link {
    text-decoration: none;
    color: rgb(208, 90, 90);
}

.nav-link:hover {
    color: black;
    text-decoration: underline;
}

.connect {
    background-color: rgb(224, 234, 241);
}

.orange-link {
    color: rgb(208, 90, 90);
}
.orange-link:hover {
    color: black;
}