.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-areas: "nav nav nav nav"
                         "header header header header"
                         "connect connect connect connect"
                         "post post post post"
                         "projects projects projects projects"
                         "footer footer footer footer";
}

/* ========================== NAVIGATION ========================== */
.page-nav {
    grid-area: nav;
    display: flex;
    justify-content: end;
    align-items: center;
}

.page-nav-list {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

.page-nav-list-items {
    margin: 0 3rem 0 3rem;
}

/* ========================== HEADING ========================== */
.page-heading {
    display: flex;
    flex-direction: column;
    align-items: start;
    grid-area: header;
    margin: 5% 10% 0 10%;
}

/* ========================== CONTACT ========================== */
.connect {
    grid-area: connect;    
    margin: 5% 10% 0 10%;
    padding: 10px;
}

/* ========================== POSTS ========================== */
.previous-posts {
    grid-area: post;
    margin: 5% 10% 0 10%;
}

.stick-right {
    text-align: right;
    list-style-type: none;
}

/* ========================== PROJECTS ========================== */
.projects {
    grid-area: projects;
    margin: 5% 10% 0 10%;
}

.project-container {

}

/* ========================== FOOTER ========================== */
.page-footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}