@import "/css/reset.css";
@import "/css/header.css";
@import "/css/navigation.css";
@import "/css/footer.css";
@import "/css/colors.css";
@import "/css/layout.css";
@import "/css/typography.css";

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-areas: "header header header header"
                         "nav nav nav nav"
                         "article article article article"
                         "aside aside aside aside"
                         "footer footer footer footer";
}

/************************************** ARTICLE *************************************/
.article {
    grid-area: article;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 0% 20% 0% 20%;
    margin-bottom: 4em;
}

#current-article-title {
    margin-bottom: 1em;
}

#continue-reading-link {
    text-decoration: underline;
}


/************************************** ASIDE *************************************/
.aside {
    grid-area: aside;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
}
.aside-container {
    display: flex;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.aside-title {
    font-size: 1.5em;
    max-width: 190px;
    text-align: center;
    margin-right: 20px;
    text-decoration: underline;
}
.post-container {
    margin-left: 20px;
    max-width: 300px;
}
.post-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.post-titles {
    text-align: center;
    font-size: 0.9em;
}

.post-dates {
    font-size: 0.7em;
}