/* Stylesheet includes colors, background images, etc. */

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: rgb(94, 92, 92);
    border-bottom: 1px solid black;
}

header {
    
}
